.title h1 {
    color: #111827;
}

.btn-tambahdata {
    margin-left: 50px;
    background-color: #089d46;
    color: #fff;
    padding: 13px 17px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.content-table {
    width: 95%;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50PX;
}

.content-table th {
    background-color: #009879;
    color: #fff;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
}

.content-table tbody tr {
    background-color: white;
}

.content-table tbody td .btn {
    display: grid;
}

.content-table tbody td ul li {
    text-align: left;
    margin: 10px 0;
}

.content-table tbody .fasilitas-kolom {
    width: 200px;
}

.content-table tbody .btn-hapus {
    background-color: rgb(216, 0, 0);
    color: white;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.content-table tbody .btn-update {
    background-color: rgb(1, 98, 253);
    color: white;
    padding: 13px 17px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.content-table tbody .btn-ekspor {
    background-color: #089d46;
    color: white;
    padding: 13px 17px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.doc-img {
    display: grid;
    align-items: center;
    margin-bottom: 15px;
}

.doc-img label {
    font-weight: bold;
    margin-right: 10px;
}

.cont-form {
    width: 65%;
    max-width: 300px;
    padding: 20px;
    align-items: center;
    margin: auto;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(247, 0, 0, 0.1);
}

.cont-form span {
    color: red;
}

.cont-form h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}

.form-input {
    display: grid;
    gap: 10px;
}

.form-input p {
    margin-bottom: 15px;
}

.form-input h5 {
    font-size: 12px;
    font-style: italic;
}

.form-input label {
    font-weight: 600;
    padding: 10px 0;
    font-size: 18px;
}

.form-input input,
.form-input select {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.form-input .thumbnail {
    border: none;
}

.form-input .jasa_travel {
    display: none;
}

.form-input .desc {
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.cont-form .form-input button {
    margin-top: 20px;
    background-color: #089d46;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cont-form .form-input button:hover {
    background-color: #077d3a;
}

.form-input .fasilitas-table {
    width: 100%;
    margin-top: 50px;
}

.form-input .fasilitas-table h2 {
    font-size: 20px;
    font-weight: 700;
}

.form-input .fasilitas-table th {
    background-color: #009879;
    color: #fff;
}

.form-input .fasilitas-table tr td {
    text-align: center;
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
}

.kota-check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.kota-check label{
    font-size: 18px;
}

.kota-check select{
    width: 30%;
    height: 70px;
    margin: 20px;
    border-radius: 10px;
}

.kota-check button{
    background-color: #089d46;
    padding: 9px 30px;
    border-radius: 10px;
    height: 70px;
    color: white;
}

@media (max-width: 500px) {
    .content-table thead {
        display: none;
    }

    .content-table,
    .content-table tbody,
    .content-table tr .content-table td {
        display: block;
        width: 100%;
    }

    .content-table tr {
        margin-bottom: 15px;
    }

    .content-table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .content-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
    }
}
